<p>
  <img src="/arts/<%= @art.filename %>" />
</p>
<p>
  <b>Blog ID:</b>
  <%= @art.blog_id %>
</p>
<p>
  <b>Blog:</b>
  <%= @art.blog %>
</p>
<p>
  <b>Blogger:</b>
  <%= @art.blogger %>
</p>
<p>
  <b>Title:</b>
  <%= @art.title %>
</p>
<p>
  <b>Description:</b>
  <%= @art.description %>
</p>
<p>
  <b>Blog url:</b>
  <%= @art.blog_url %>
</p>
<p>
  <b>Filename:</b>
  <%= @art.filename %>
</p>
<p>
  <b>url:</b>
  <%= @art.url %>
</p>
