<header class="clearfix">
	
</header>	

<nav>
	<div id="left_nav">
		<a class="button-link" href="#">ENTRIES</a>
	</div>	
	<div id="right_nav">
		<a class="button-link" href="#">ABOUT THIS CONTEST</a>
	</div>	
	
</nav>	
<h1><%= @title %></h1>

<h3><%= @message unless @message.nil?%></h3>

<% @arts.each_with_index do |art,i| %>
	<img src="/arts/<%= art.filename %>" />
	<p><%= art.title %></p>
	<a href="/vote/<%= art.id %>">VOTE</a><br/>
	<span class="label">Total Votes :</span><span><%= art.votes.count %></span>
	<br/>
<% end %>	