<header class="clearfix">
	
</header>	

<nav class="clearfix">
	<div id="left_nav">
		<a class="button-link" href="#">ENTRIES</a>
	</div>	
	<div id="right_nav">
		<a class="button-link" href="#">ABOUT THIS CONTEST</a>
	</div>	
	
</nav>

<h1>HTTP_X_REAL_IP:<%= env['HTTP_X_REAL_IP'] %>
<h1>HTTP_CLIENT_IP:<%=  env["HTTP_CLIENT_IP"] %><h1>	
<h1>HTTP_X_FORWARDED_FOR:<%=  env["HTTP_X_FORWARDED_FOR"] %><h1>	
<h1>REMOTE_ADDR:<%=  env["REMOTE_ADDR"] %><h1>	
	
	
<section id="nails">
<% @arts.each_with_index do |art,i| %>
	<% trueIndex = i + 1 %>

	<% if trueIndex == 1 %>
		<ul>
			<li>
				<a href="/vote/<%= art.id %>"><img src="/arts/<%= art.filename %>" /></a>
			</li>	
	<% elsif trueIndex == @arts.size %>		
			<li>
				<a href="/vote/<%= art.id %>"><img src="/arts/<%= art.filename %>" /></a>
			</li>	
		</ul>	
	<% elsif (trueIndex % 3) == 0 %>	
			<li>
				<a href="/vote/<%= art.id %>"><img src="/arts/<%= art.filename %>" /></a>
			</li>	
		</ul>	
		<ul>
	<% else %>		
			<li>
				<a href="/vote/<%= art.id %>"><img src="/arts/<%= art.filename %>" /></a>
			</li>	
	<% end %>		
<% end %>
</section>
			
