<header class="clearfix">
	
</header>	

<!--- 
<nav class="clearfix">
	<div id="left_nav">
		<a class="button-link" href="#">ENTRIES</a>
	</div>	
	<div id="right_nav">
		<a class="button-link" href="#">ABOUT THIS CONTEST</a>
	</div>	
	
</nav>
-->

<section id="nails">
<% @arts.each_with_index do |art,i| %>
	<% trueIndex = i + 1 %>

	<% if trueIndex == 1 %>
		<ul>
			<li>
				<a href="/vote/<%= art.id %>"><img src="/arts/<%= art.filename %>" /></a>
			</li>	
	<% elsif trueIndex == @arts.size %>		
			<li>
				<a href="/vote/<%= art.id %>"><img src="/arts/<%= art.filename %>" /></a>
			</li>	
		</ul>	
	<% elsif (trueIndex % 3) == 0 %>	
			<li>
				<a href="/vote/<%= art.id %>"><img src="/arts/<%= art.filename %>" /></a>
			</li>	
		</ul>	
		<ul>
	<% else %>		
			<li>
				<a href="/vote/<%= art.id %>"><img src="/arts/<%= art.filename %>" /></a>
			</li>	
	<% end %>		
<% end %>
</section>

<script>
$(function() {
    $( "#dialog" ).dialog();
});
</script>


	<div id="dialog" title="Official Rules">
		<p align="center"><strong>Official Voting Rules</strong> <br />
		  These are the official terms and conditions for voting for the &quot;Tadashi Shoji Nail Art Challenge&quot; (the &quot;Official Voting Rules&quot;) sponsored by Tadashi Shoji &amp; Associates, Inc. (&ldquo;Sponsor&rdquo;).<br />
		  <strong>1. <u>ELIGIBILITY</u></strong> <br />
		  You must be a fan of the Tadashi Shoji Facebook brand page to submit your vote (&ldquo;Vote&rdquo;). Votes must be cast by the authorized account holder of the Facebook account from which the Vote is made.<br />
		  <strong>2. <u>VOTING PERIOD</u></strong><br />
		  The voting period (&ldquo;Voting Period&rdquo;) will begin at or around 10:00 AM PST on October 11, 2012 and ends at 11:59 PM ET on October 24, 2012. Voting is currently limited to one (1) vote per day per person, for a maximum of fourteen (14) votes over the course of the voting period.<br />
		  If, for any reason, any aspect of this voting process is not capable of running as planned, including infection by computer virus, bugs, tampering, unauthorized intervention, fraud, technical or system failures or disruption, or any other causes beyond the control of Sponsor which corrupt or affect the administration, security, fairness, integrity or proper conduct of the voting process or for any reason Sponsor deems necessary, Sponsor reserves the right at its sole discretion to cancel, terminate, modify, extend or suspend the voting process and reserves the right in its sole discretion to determine the winners.<br />
		  <strong>3. <u>HOW TO VOTE</u></strong><br />
		  Submit your design preferences via the Nail Art Challenge app on the Tadashi Shoji Facebook page.  Click on the photo for which you wish to vote, and click on the &ldquo;Vote for this Design&rdquo; button below the photo to cast your vote. <br />
		  <strong>4.&nbsp;<u>GENERAL TERMS</u></strong><br />
		  <strong>You participate in this voting process at your own risk.&nbsp;</strong>Tadashi Shoji &amp; Associates, Inc. and Facebook, Inc. are not responsible for and shall not be liable for: (a) difficulty accessing the internet; (b) errors in transmission; (c) service outage or delays or for any problems or technical malfunctions of any computer on-line systems, servers or providers, computer equipment, software, or traffic congestion on the Internet or at any web site or combination thereof: (d) any incomplete, lost, late, delayed, misdirected or garbled votes or failure to receive votes; or (e) injury or damage to you or to any other person's computer related to or resulting from participating in, or downloading materials or software, or attempts to participate in or download materials or software related to this voting process. <br />
		  Participants assume all liability for any injury or damages caused or claimed to be caused by his or her participation in the voting opportunity described in these Official Voting Rules.<br />
		  By participating in this voting process, you agree to be bound by these Official Voting Rules. Failure to comply with the Official Voting Rules may result in a voter's disqualification solely at the discretion of Sponsor. Sponsor reserves the right to modify these Official Voting Rules at any time in its sole discretion.<br />
		  All interpretations of these Official Voting Rules and the decisions of Sponsor relating to this voting process are final.<br />
		  This Contest is in no way sponsored, endorsed or administered by, or associated with, Facebook, Inc. Inquiries (whether questions, comments or complaints) should be directed to Tadashi Shoji &amp; Associates,&nbsp;<u>not</u>&nbsp;to Facebook.</p>
		
	</div>
