<header class="clearfix">
	
</header>	

<!--- 
<nav class="clearfix">
	<div id="left_nav">
		<a class="button-link" href="#">ENTRIES</a>
	</div>	
	<div id="right_nav">
		<a class="button-link" href="#">ABOUT THIS CONTEST</a>
	</div>	
	
</nav>
-->

<section id="nails">
<% @arts.each_with_index do |art,i| %>
	<% trueIndex = i + 1 %>

	<% if trueIndex == 1 %>
		<ul>
			<li>
				<a href="/vote/<%= art.id %>"><img src="/arts/<%= art.filename %>" /></a>
			</li>	
	<% elsif trueIndex == @arts.size %>		
			<li>
				<a href="/vote/<%= art.id %>"><img src="/arts/<%= art.filename %>" /></a>
			</li>	
		</ul>	
	<% elsif (trueIndex % 3) == 0 %>	
			<li>
				<a href="/vote/<%= art.id %>"><img src="/arts/<%= art.filename %>" /></a>
			</li>	
		</ul>	
		<ul>
	<% else %>		
			<li>
				<a href="/vote/<%= art.id %>"><img src="/arts/<%= art.filename %>" /></a>
			</li>	
	<% end %>		
<% end %>
</section>

<div id="offical-rules">
	<div id="dialog" title="Basic dialog">
		<h1>Official Voting Rules</h1>
		<p>These are the official terms and conditions for voting for the "Tadashi Shoji Nail Art Challenge" (the "Official Voting Rules") sponsored by Tadashi Shoji & Associates, Inc. (“Sponsor”).</p>
	</div>
</div>				
