
<nav class="clearfix">
	<div id="left_nav">
		<a href="/">RETURN TO ENTRIES</a>
	</div>	
	
</nav>



<section id="vote">

	<img class="title" src="/arts/headers/<%= @art.filename %>" />	
	<img class="nail" src="/arts/big/<%= @art.filename %>" />
	<p class="description"><%= @art.description %></p>
	<p><span class="name">- <%= @art.blogger %>,</span> <span class="link"><a href="<%= @art.blog_url %>" target="_blank"><%= @art.blog %></a></span></p>
		
	<form action="/vote" method="post" id="vote_form">
		<input type="hidden" name="id" value="<%= @art.id %>" />
		<input class="button-submit" type="submit" value="VOTE FOR THIS DESIGN" />
	</form>		
	
	
</section>	



<section id="social-buttons" class="clearfix">
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style"
		 addthis:url="http://www.facebook.com/LOOMLAB/app_427357767312145"
         addthis:title="Tadashi Shoji Nail Art Challenge"
         addthis:description="<%= @art.description %>">
		<a class="addthis_button_facebook"><img src="/assets/facebook.jpg" width="22" height="22" border="0" alt="Share to Facebook" /></a>
		<a class="addthis_button_twitter" tw:text="<%= @art.description %>" tw:title="Tadashi Shoji Nail Art Challenge" tw:url="http://www.facebook.com/LOOMLAB/app_427357767312145"><img src="/assets/twitter.jpg" width="22" height="22" border="0" alt="Share to Twitter" /></a>
		<a class="addthis_button_pinterest" pi:pinit:url="http://www.facebook.com/LOOMLAB/app_427357767312145" pi:pinit:media="http://frozen-thicket-2524.herokuapp.com/arts/<%= @art.filename %>"
pi:pinit:description="<%= @art.description %>"></a>
	</div>
	<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
	<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fceb155437252cd"></script>
<!-- AddThis Button END -->
</section>


<section id="facebook-comments" class="clearfix">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=427357767312145";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	<div class="fb-comments" data-href="<%= env['HTTP_HOST'] + "/vote/" + @art.id.to_s %>" data-num-posts="5" data-width="470"></div>


</section>	

