<section id="vote">
	
	<p><%= @art.title %></p>
	<img src="/arts/<%= @art.filename %>" />
	<p><%= @art.description %></p>
	<p><span class="name">- <%= @art.blogger %></span><span class="link"><a href="<%= @art.blog_url %>"><%= @art.blog %></span></p>
		
	<form action="/vote" method="post" id="vote_form">
		<input type="hidden" name="id" value="<%= @art.id %>" />
		<input class="button_link" type="submit" value="VOTE FOR THIS DESIGN" />
	</form>		
	
</section>	